.main-header {
  height: 130px;
  background-color: green;
}

.logo {
  height: 60px;
  width: 60px;
  background-color: gray;
  position: absolute;
  top: 0;
  left: 47%;
  border-radius: 50%;
}

.main-nav {
  height: 40px;
  width: 400px;
  background-color: pink;
  position: relative;
  top: 90px;
  left: 29%;
}
