.main-header {
  position: relative;
  height: 60px;

  .logo,
  .main-nav {
    position: absolute;
    line-height: 60px;
  }

  .logo {
    top: 0;
    left: 0;
    height: 60px;
    width: 100px;
  }

  .main-nav {
    top: 0;
    right: 0;
    height: 60px;
    width: 400px;

    li {
      display: inline-block;
    }
  }
}
