

body {
  background-color: white;
  font: normal normal 300 16px/1.5 'Open Sans', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
}


.main-header,
.search,
.hero,
.site-info,
.main-footer {
  margin-bottom: 1rem;
}
