html,
body {
  height: 100%;
}
body {
  background-color: #ffcc00;
}
.logo {
  height: 100px;
  width: 100px;
  background: gray;
  position: absolute;
  top: 0;
  left: 0;
}

.main-nav {
  height: 60px;
  width: 400px;
  background: purple;
}
.container {
    width: 960px;
    margin: 0 auto;
    background: white;
    height: 100%;
}
.common-height {
  height: 150px;
}
.main-header {
  background-color: green;
}

.search {
  background-color: orange;
}

.hero {
  background-color: red;
}

.site-info {
  background-color: purple;
}

.colums {
  height:100;
  float:left;
}

.info-01,
.info-02 {
   width: 25%
}

.info-01 {

}

.main-footer {
  background-color: blue;
}
