
@mixin header{
  $header-height: 40px;
  $header-top: 10px;
  $header-position: absolute;
}

@mixin column{
  $column-width: 25%;
  $column-height: 200px;
  $column-float: left;
}


body{
  background-color: blue;
  height: 100%;
}
@mixin cf {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.container{
  width:960px;
  margin: 0 auto;
  background: white;
}

.main-header{
  height:60px;
  background-color: green;
  position: relative;

.logo{
  width: 50px;
  background: gray;
  left: 5px;
  @include header;
}

.main-nav{
  width:800px;
  background-color:purple;
  right:90px;
  @include header;
  }
}

.search{
  width: 60px;
  right: 15px;
  background-color: orange;
  @include header;
}


.hero{
  height: 700px;
  background-color: white;

}

.info {
  height: 200px;
  background-color: red;
  @include cf;
}

.info-01-columns {
  background-color: orange;
  margin-left: 0px;
  @include header;
}

.info-02-columns {
  background-color: yellow;
  margin-right: 0px;
  @include header;
}

.info-03-columns {
  background-color: green;
  margin-right: 0px;
  @include header;
}

.info-04-columns {
  background-color: turquoise;
  margin-left: 0px;
  @include header;
}

.main-footer{
  height: 300px;
  background-color:purple;
}
