*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  background-color: white;
  font-size: 16px;
}

body {
  font: normal normal 300 16px/1.5 'Open Sans', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
}

.frame {
  background-color: #FCFCFC;
  border: 1px solid #333;
  border-radius: 1px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.cf::before,
.cf::after {
  display: table;
  content: '';
}

.cf::after {
  clear: both;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.main-header,
.hero,
.content,
.carousel,
.main-footer {
  margin-bottom: 0.5rem;
}

.main-header {
  border: 0 none;
  height: 5em;
}

.logo,
.main-nav,
.search {
  height: 100%;
  position: absolute;
}

.logo,
.search {
  width: 6.5em;
  line-height: 5em;
}

.logo {
  display: inline-block;
  top: 0;
  left: 0;
}

.search {
  top: 0;
  right: 0;
}

.main-nav {
  width: 20em;
  margin-left: -10em;
  top: 0;
  left: 50%;
}

.main-nav li {
  display: inline-block;
  height: 5em;
  padding: 0 0.5em;
  line-height: 5em;
  vertical-align: middle;
  list-style: none;
}

.hero {
  height: 37.5rem;
  line-height: 37.5rem;
  font-size: 4em;
}

.content {
  height: auto;
}

.content > [class^="info-"] {
  display: inline-block;
  height: 100%;
  width: 50%;
  font-size: 2em;
  line-height: 25rem;
}

.content > .info-left {
  float: left;
}

.content > .info-right {
  float: right;
}

.carousel {
  width: 100%;
  height: 31.25em;
  border-left: 0 none;
  border-right: 0 none;

  /* Scrolling section */
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  word-spacing: -4px;
}

.carousel > [class^="slide-"] {
  display: inline-block;
  height: 100%;
  width: 50%;
  margin-right: 0.5rem;
  font-size: 2em;
  line-height: 31.25rem;
}

.main-footer {
  height: 22.5rem;
  font-size: 2em;
  line-height: 22.5rem;
}