$header-height: 40px;
$background-color: purple;
$column-width: 25%;
$column-height: 200px;



body{
  background-color: blue;
  height: 100%;
}
@mixin cf {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.container{
  width:960px;
  margin: 0 auto;
  background: white;
}

.main-header{
  height:60px;
  background-color: green;
  position: relative;

.logo{
  height: $header-height;
  width: 50px;
  background: gray;
  position: absolute;
  top: 10px;
  left: 5px;
}

.main-nav{
  height:40px;
  width:800px;
  background-color:purple;
  position:absolute;
  top:10px;
  right:90px;
  }
}

.search{
  height:38px;
  width: 60px;
  position: absolute;
  top: 11px;
  right: 15px;
  background-color: orange;
}


.hero{
  height: 700px;
  background-color: white;

}

.info {
  height: 200px;
  background-color: red;
  @include cf;
}

.info-01.columns {
  height: $column-height;
  width: $column-width;
  background-color: orange;
  margin-left: 0px;
  float:left;
}

.info-02.columns {
  height: $column-height;
  width: $column-width;
  background-color: yellow;
  margin-right: 0px;
  float: left;
}

.info-03.columns {
  height: $column-height;
  width: $column-width;
  background-color: green;
  margin-right: 0px;
  float: left;
}

.info-04.columns {
  height: $column-height;
  width: $column-width;
  background-color: turquoise;
  margin-left: 0px;
  float: left;
}

.main-footer{
  height: 300px;
  background-color: $background-color;
}
